html, body
    margin: 0
    padding: 0
    height: 100%
    scroll-behavior: smooth

.App
    font:
        family: 'Poppins', sans-serif !important
    position: relative
    overflow-x: hidden

#toggle-label 
    position: fixed
    z-index: 100
    top: 30px
    right: 38px
    display: block 
    height: 17px
    cursor: pointer

#toggle,
#toggle:after,
#toggle:before 
    display: block
    width: 30px
    height: 2px
    margin-bottom: 4px
    background: linear-gradient(to right, #ccc, #aaa)
    transition-duration: 0.3s
    outline: 1px solid grey

#toggle:after,
#toggle:before 
    content: ""
    position: relative
    top: 6px

.appear
    right: 10px !important

.rotate #toggle 
    transform: rotate(45deg)
    top: 4px

.rotate #toggle:before 
    transform: rotate(90deg)
    top: 0

.rotate #toggle:after 
    top: -6px

#nav 
    position: fixed
    z-index: 90
    top: 100px
    right: 0
    margin: 0
    padding: 0
    transition-duration: 0.3s

    a 
        background-size: 80px !important
        height: 110px
        width: 85px
        display: block
        transform: rotate(-90deg)
        text-align: center
        color: white
        text-shadow: 0 0 2px black
        font-size: 13.5pt
        line-height: 1
        font-weight: 600
        transition-duration: 0.5s

        span 
            padding: 23px 0
            display: inline-block

        &:hover,
        &:active,
        &:focus
            color: rgba(255, 255, 255, 0.5)
            text-decoration: none
            transform: rotate(0deg)
            text-shadow: none

    li 
        list-style-type: none
        display: block
        margin-top: -40px
        position: relative
        right: -30vw

#nav li:first-of-type 
    transition-duration: 0.1s

#nav li:nth-of-type(2) 
    transition-duration: 0.25s

#nav li:nth-of-type(3) 
    transition-duration: 0.5s

#nav li:nth-of-type(4) 
    transition-duration: 0.75s

#nav li:first-of-type 
    a 
        background: url(../../images/dark-green.png) no-repeat center

#nav li:nth-of-type(2) 
    a 
        background: url(../../images/lime.png) no-repeat center

#nav li:nth-of-type(3) 
    a 
        background: url(../../images/pink.png) no-repeat center

#nav li:nth-of-type(4) 
    a 
        background: url(../../images/violet.png) no-repeat center

.banner 
    background: url(../../images/guitar.jpg) no-repeat center
    background-size: cover
    background-attachment: fixed

    .overlay 
        height: 100vh
        background-color: rgba(0, 0, 0, 0.7)
        color: white 
        text-align: center

        .logo 
            font-size: 19pt
            display: inline-block
            margin-top: 5vh
            letter-spacing: 4px

        h1 
            font-size: 50pt
            margin-top: 25vh
            letter-spacing: 4px
            margin-bottom: 0

        p 
            font-size: 19pt
            letter-spacing: 1px
            margin: 0

.wrapper 
    max-width: 1080px
    margin: 0 auto

    .block-info 
        display: flex
        justify-content: space-between
        margin: 40px 0

        .color 
            width: 40%
            color: white
            text-shadow: 0 0 2px black
            text-transform: uppercase
            font-size: 30pt
            display: flex
            justify-content: center
            align-items: center

        #works 
            background: #0a995c

        #arts 
            background: #10ff12

        #blog 
            background: #f98ff7

        #me 
            background: #a946cc

        .text 
            width: 55%

