*{transition:all 0.3s ease-in-out;}
body {margin: 0;padding: 0;font-size:13pt;line-height: 1.7;}
p{margin: 10px 0;}
.page-footer {padding: 20px 0;font-size: 25px}
.page-footer a:hover span,.page-footer a:focus span{-webkit-text-decoration:underline dashed;text-decoration:underline dashed;text-underline-position:under;}
.App {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-flow: column;flex-flow: column;min-height: 100vh;height: 100%;}
.App > .container {-webkit-box-flex: 1;-ms-flex: 1;flex: 1;}
.home{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column;flex-flow:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.home h1, .home h5{margin: 10px 0;}
.sidenav a{color:white !important; font-size:16px !important;}
.sidenav a.social-mob{-webkit-transition:all 0.3s;transition:all 0.3s;display: inline-block;padding-right: 0;font-size: 20px !important;margin-top: 20px;}
.sidenav a.social-mob:last-of-type{padding-left: 0;}
.sidenav a.social-mob i{margin-right: 25px;}
.sidenav a.social-mob:hover,.sidenav a.social-mob:focus{background: none;opacity: 0.7;}
.sidenav{padding-top: 20%;width: 200px;}
.works-pics{display: grid;grid-template-columns: repeat(3, 1fr);grid-gap: 40px 30px;margin: 50px 0 100px;}
.works-pics img{min-width: 150px;width: 100%;}
.me .material-icons{position: relative;top:5px;}
.me li{margin: 5px 0;}
.me img {width: 30%;margin: 0 0 20px 30px;}
.text-me{margin: 50px 0 100px;}
.text-me a:hover,.text-me a:focus{opacity: 0.7;}
.blog .card .card-title {font-weight: 500;}
.blog {padding-bottom: 50px;}
.blog-post {padding: 30px 0 50px;}
.blog-post .card-title {margin-bottom: 30px;}
nav li>a.active{background:rgba(0,0,0,0.1);}
.sidenav li>a.active{background:rgba(0,0,0,0.05);}
input[type=text]:focus, input[type=password]:focus, textarea:focus {border-bottom-color:#8bc34a !important;box-shadow:0 1px 0 0 #8bc34a !important;}